#main {
    background-image: url(https://cdn1.vectorstock.com/i/1000x1000/15/65/travel-background-vector-20231565.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#heading {
    text-align: center;
    font-size: 165px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    margin: 10px;
}

#sub{
    text-align: center;
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px;
}

.image {
    margin: 10px;
}

#pic {
    height: 450px;
    width: 550px;
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
    
}
#about {
    font-size: 30px;
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-size: auto;
    background-color: chartreuse;

}

.info {
    background-color: aquamarine;
    color: brown;
    margin: 5px;
    height: 50px;
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    
}

#txt1 {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#txt2 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#txt {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.3s;
    text-decoration: none;
}

#txt:hover {

    color: gold;
}